.leeches {
    cursor: pointer;
}

.leeches div.popover {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selfstudy {
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.selfstudy label {
    display: inline;
    vertical-align: middle;
    padding-right: 4px;
    color: #999;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}

.selfstudy button.enable {
    width: 55px;
}

.ss_active .selfstudy button.enable.on {
    background-color: #b3e6b3;
    background-image: linear-gradient(to bottom, #ecf9ec, #b3e6b3);
}

.selfstudy select.config {
    width: 300px;
}

.selfstudy .center {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section[id^="level-"].ss_active.ss_hidechar .character-item a span:not(.dummy) {
    opacity: 0;
    transition: opacity ease-in-out 0.15s
}

section[id^="level-"].ss_active.ss_hideread .character-item a li[lang="ja"] {
    opacity: 0;
    transition: opacity ease-in-out 0.15s
}

section[id^="level-"].ss_active.ss_hidemean .character-item a li:not([lang="ja"]) {
    opacity: 0;
    transition: opacity ease-in-out 0.15s
}

section[id^="level-"].ss_active.ss_hideburned .character-item.burned {
    display: none;
}

section[id^="level-"].ss_active.ss_hidelocked .character-item.locked {
    display: none;
}

section[id^="level-"].ss_active.ss_hideunburned .character-item:not(.burned) {
    display: none;
}

section[id^="level-"].ss_active.ss_hideunlocked .character-item:not(.locked) {
    display: none;
}

section.ss_active .character-item:hover a span {
    opacity: initial !important;
    transition: opacity ease-in-out 0.05s !important;
}

section.ss_active .character-item:hover a li {
    opacity: initial !important;
    transition: opacity ease-in-out 0.05s !important;
}

#ss_config {
    position: absolute;
    z-index: 1029;
    width: 573px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    padding: 8px;
}

#ss_config select.configs {
    width: 475px;
}

#ss_config label {
    color: #ccc;
    text-shadow: initial;
    text-align: right;
    vertical-align: baseline;
}

#ss_config .btns {
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-right: 8px;
}

#ss_config .btns .btn {
    display: block;
    margin-bottom: 5px;
}

#ss_config .btn {
    width: 70px;
}

#ss_config .list {
    overflow-x: auto;
}

#ss_config .list select.configs {
    width: 100%;
    height: 135px;
}

#ss_config .section {
    border-top: 1px solid #ccc;
    padding: 0 0 8px 0;
}

#ss_config .section>label {
    display: block;
    text-align: left;
    color: #ffc;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 4px;
    margin-bottom: 4px;
    background-color: #2e2e2e;
    background-image: linear-gradient(to bottom, #3c3c3c, #1a1a1a);
    background-repeat: repeat-x;
}

#ss_config .txtline label {
    display: inline-block;
    float: left;
    margin-right: 8px;
    width: 100px;
    line-height: 30px;
    clear: both;
}

#ss_config .txtline .expand {
    overflow-x: auto;
}

#ss_config .txtline input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

#ss_config .cbbox {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#ss_config .cbbox label {
    display: inline-block;
    float: left;
    margin: 0 8px 0 0;
    width: 190px;
    line-height: 20px;
}

#ss_config .cbbox input {
    position: relative;
    overflow-x: auto;
    height: 20px;
    margin: 0;
    top: 1px;
}

#ss_config [class*="icon-"] {
    color: #fff;
}

#ss_config .dlg_close {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

#ss_quiz [lang="ja"] {
    font-family: "Meiryo", "Yu Gothic", "Hiragino Kaku Gothic Pro", "TakaoPGothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}

#ss_quiz {
    position: absolute;
    z-index: 1028;
    width: 573px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    border: 8px solid rgba(0, 0, 0, 0.85);
    font-size: 2em;
}

#ss_quiz .hidden {
  display: none;
}

#ss_quiz * {
    text-align: center;
}

#ss_quiz .qwrap {
    height: 8em;
    position: relative;
    clear: both;
}

#ss_quiz.radicals .qwrap,
#ss_quiz.radicals .summary .que {
    background-color: #0af;
}

#ss_quiz.kanji .qwrap,
#ss_quiz.kanji .summary .que {
    background-color: #f0a;
}

#ss_quiz.vocabulary .qwrap,
#ss_quiz.vocabulary .summary .que {
    background-color: #a0f;
}

#ss_quiz .prev,
#ss_quiz .next {
    display: inline-block;
    width: 80px;
    color: #fff;
    line-height: 8em;
    cursor: pointer;
}

#ss_quiz .prev:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#ss_quiz .next:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#ss_quiz .prev {
    float: left;
}

#ss_quiz .next {
    float: right;
}

#ss_quiz .topbar {
    font-size: 0.5em;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.5);
}

#ss_quiz .settings {
    float: left;
    padding: 6px 8px;
    text-align: left;
    line-height: 1.5em;
}

#ss_quiz .settings span[class*="icon-"] {
    font-size: 1.3em;
    padding: 0 2px;
}

#ss_quiz .settings .ss_audio {
    padding-left: 0;
    padding-right: 4px;
}

#ss_quiz .settings .ss_typo {
    padding-left: 0px;
}

#ss_quiz .settings .ss_done {
    font-size: 1.25em;
}

#ss_quiz .settings .ss_pair {
    font-weight: bold;
}

#ss_quiz .settings span {
    cursor: pointer;
}

#ss_quiz .settings span:hover {
    color: rgba(255, 255, 204, 0.8);
}

#ss_quiz .settings span.active {
    color: #ffc;
}

#ss_quiz.help .settings .ss_help {
    color: #ffc;
}

#ss_quiz .stats_labels {
    text-align: right;
    font-family: monospace;
}

#ss_quiz .stats {
    float: right;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
    font-family: monospace;
    padding: 0 5px;
}

#ss_quiz .round {
    display: none;
    font-weight: bold;
    position: absolute;
    box-sizing: border-box;
    width: 60%;
    height: 75%;
    border-radius: 24px;
    border: 2px solid #000;
    background-color: #fff;
}

#ss_quiz.round .round {
    display: block;
}

#ss_quiz .question {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    line-height: 1.1em;
    font-size: 1em;
    font-weight: bold;
    cursor: default;
}

#ss_quiz .question[data-type="char"] {
    font-size: 2em;
}

#ss_quiz .icon-audio:before {
    content: "\\f028";
}

#ss_quiz .question .icon-audio {
    font-size: 2.5em;
    cursor: pointer;
}

#ss_quiz.summary .question {
    display: none;
}

#ss_quiz .qtype {
    line-height: 2em;
    cursor: default;
    text-transform: capitalize;
}

#ss_quiz .qtype.reading {
    color: #fff;
    text-shadow: -1px -1px 0 #000;
    border-top: 1px solid #555;
    border-bottom: 1px solid #000;
    background-color: #2e2e2e;
    background-image: linear-gradient(to bottom, #3c3c3c, #1a1a1a);
    background-repeat: repeat-x;
}

#ss_quiz .qtype.meaning {
    color: #555;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1);
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #c8c8c8;
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, #eee, #e1e1e1);
    background-repeat: repeat-x;
}

#ss_quiz .help {
    display: none;
    position: absolute;
    top: 3%;
    left: 13%;
    width: 74%;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 4px;
    color: #555;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 0.8em;
    line-height: 1.2em;
}

#ss_quiz.help .help {
    display: inherit;
}

#ss_quiz .answer {
    background-color: #ddd;
    padding: 8px;
}

#ss_quiz .answer input {
    width: 100%;
    background-color: #fff;
    height: 2em;
    margin: 0;
    border: 2px solid #000;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 1em;
}

#ss_quiz .answer input.correct {
    color: #fff;
    background-color: #8c8;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#ss_quiz .answer input.incorrect {
    color: #fff;
    background-color: #f03;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#ss_quiz.loading .qwrap,
#ss_quiz.loading .answer {
    display: none;
}

#ss_quiz .summary {
    display: none;
    position: absolute;
    width: 74%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
}

#ss_quiz.summary .summary {
    display: block;
}

#ss_quiz .summary h3 {
    background-image: linear-gradient(to bottom, #3c3c3c, #1a1a1a);
    background-repeat: repeat-x;
    border-top: 1px solid #777;
    border-bottom: 1px solid #000;
    margin: 0;
    box-sizing: border-box;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 40px;
}

#ss_quiz .summary .errors {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
}

#ss_quiz .summary li {
    margin: 4px 0 0 0;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1.4em;
}

#ss_quiz .summary .errors span {
    display: inline-block;
    padding: 2px 4px 0px 4px;
    border-radius: 4px;
    line-height: 1.1em;
    max-width: 50%;
    vertical-align: middle;
    cursor: pointer;
}

#ss_quiz .summary .ans {
    background-color: #fff;
    color: #000;
}

#ss_quiz .summary .wrong {
    color: #f22;
}

#ss_quiz .btn.requiz {
    position: absolute;
    top: 6px;
    right: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#ss_quiz_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

#ss_quiz {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 6em;
}

#ss_quiz .quiz-progress {
    margin-bottom: 8px;
    height: 8px;
    background-color: gray;
}

#ss_quiz .quiz-progress .quiz-progress-bar {
    height: 8px;
    background-color: white;
}

#ss_quiz .quiz-progress .quiz-progress-bar.pulse {
    animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px white;
    }
    25% {
        box-shadow: 0px 0px 20px white;
    }
    75% {
        box-shadow: 0px 0px 20px white;
    }
    100% {
        box-shadow: 0px 0px 5px white;
    }
}

.ss_quiz_abort {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.ss_blur {
  filter: blur(20px);
}

